games/data/*
!games/data/nt409*
games/data/rust
rust/target/
javascript/node_modules
node_modules
*.log
*.onnx
*.onnx.data
*.pth
**/mcts_temp/
rust/mcts_old/
parquet/
results/
err.txt
out.txt
output.txt
.venv/
.vscode/
__pycache__/
temp/

