games/data/*
!games/data/nt409*
games/data/rust
rust/target/
javascript/node_modules
node_modules
*.log
*.onnx
*.onnx.data
*.pth
**/mcts_temp/
rust/mcts_old/
parquet/
results/
err.txt
out.txt
output.txt
.venv/
.vscode/
__pycache__/
temp/
new_main/rust-core/target/
new_main/frontend/rust-wasm/target/
new_main/backend/rust-napi/target/
new_main/backend/rust-napi/node_modules/
**/target/
**/node_modules/
new_main/backend/.env
new_main/backend/.env.*
new_main/backend/db/
utils.txt
new_main/backend/rust-napi/index.linux-x64-gnu.node
new_main/backend/src/utils/boards/
