/*svg {
    pointer-events: none;
}*/

/*svg {
  transform: rotate(90deg);
}*/

/*svg {
  clip-path: inset(0);
}*/

/*svg {
  margin: 0;
  padding: 0;
}*/

svg text {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
svg text::selection {
    background: none;
}

.button {
    cursor: pointer;
}

.draggable {
    cursor: move;
}

.polysquare_id {
    display: none;
}

.highlighted {
    background-color: #4CAF50;
}

body {
  background-color:  #4C4C4C; 
  /*grey*/
}

/*svg {
  width: 100vw;
  height: 100vh;
}*/

svg {
  /*transition: transform 2.5s ease-in-out;*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*.myButton1 {background-color: #4CAF50;}*/


